
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap');
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
}

.loginBox {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.loginBox:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
}
.loginBox h1 {
  margin-bottom: 1.5rem;
  font-size: 7.7rem;
  color: #080808;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.loginBox form {
  display: flex;
  flex-direction: column;
}

.loginBox input {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginBox input:focus {
  border-color: #8ec5fc;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.loginBox button {
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #8ec5fc, #e0c3fc);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginBox button:hover {
  background: linear-gradient(45deg, #5cb3f5, #c4c1fc);
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

  
  